/nbproject/private/
/xmlrpc.php
/INSTALL.pgsql.txt
/index.php
/MAINTAINERS.txt
/COPYRIGHT.txt
/themes/
/INSTALL.mysql.txt
/misc/
/includes/
/profiles/
/authorize.php
/README.txt
/install.php
/modules/
/CHANGELOG.txt
/LICENSE.txt
/web.config
/UPGRADE.txt
/robots.txt
/update.php
/INSTALL.txt
/INSTALL.sqlite.txt
/scripts/
/cron.php
nbproject/project.properties

nbproject/project.xml
/sites/default/settings.php