
/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
*/

* { 
    position:relative; 
}

body { 
    background: #fff url('../images/backgrounds/home/body-background.jpg') no-repeat bottom center;
    color: rgb(153,153,153);
    font-family: Arial;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: #555555;
}

.section {
    padding: 10px;
}

.clearfix:after {
    clear: both;
    content: '.';
    height: 0px;
    display:block;
    visibility: hidden;
}

.menu li.expanded ul {

}

#page {
    margin: 0 auto;
    width: 1022px;
    z-index: 10;
}

#main-wrapper {
    background: url('../images/structure/main-wrapper-background.png') repeat-y top left;
}

#main {
    margin: 0 auto;
    padding: 0;
    width: 960px; 
}

#content,
#sidebar-first,
#sidebar-second {
    float: left;
    display: block;
}

/* Content Region */
#content {
    width: 960px;
}

body.sidebar-first #content {
    width: 620px;
}

body.sidebar-second #content {
    width: 620px;
}


/* Sidebar First */
#sidebar-first {
    left: -30px;
    width: 340px;
}

#sidebar-first .section {
    padding-right: 0px;
}

#sidebar-first .block {

}

/* Sidebar second */
#sidebar-second {
    right: -30px;
    width: 340px;
}

