/* 
    Document   : footer
    Created on : Dec 26, 2011, 10:21:01 PM
    Author     : danielcarter
    Description:
        Footer Region
*/

#footer {
    background: rgba(255,255,255,0.6);
    height: 90px;
    margin: 0 auto;
    padding: 0;
    width: 1024px;
}

