/* 
    Document   : header
    Created on : Dec 26, 2011, 10:31:29 PM
    Author     : danielcarter
    Description:
        Header Region
*/

/* Header Region */
#header .section {
    padding:8px 10px 30px 10px;
}

#name-and-slogan {
    float: left;
    height: 51px;
    width: 365px;
}

#site-name {
    font-size: 30px;
    font-family: "Bell MT";
}

#site-name a, #site-name a:visited, #site-name a:hover {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

#site-name a span {
    display: block;
}

#site-slogan {
    font-family: "Bell MT";
    font-style: italic;
    left: auto;
    position:absolute;
    right: 0px;
}

.not-front #page-title {
    margin-bottom: 50px;
}

.not-front #page-title span {
    display: inline-block;
    background-color: #6FBF4D;
    padding: 5px 10px;
    color: white;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}
