body.page-node-5 {
    background:none;
    height: 100%;
    padding:0;
    margin:0;
    width: 100%;
    overflow: hidden;
}

body.page-node-5 #page-wrapper {
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    width:auto;
    height: auto;
    overflow:hidden;
}

body.page-node-5 #page-wrapper.admin-bar {
    top:60px;
}

body.page-node-5 #page-wrapper #header {
    background: white;
    padding-bottom: 5px;
}

body.page-node-5 #page-wrapper #main-wrapper {
    background: none;
    height: auto;
    bottom: 0;
    top: 51px;
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
}

body.page-node-5 #page-wrapper #footer {
    bottom: 0px;
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
}

body.page-node-5 #main, body.page-node-5 #content {
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: auto !important;
}

#foot {
	width: auto;
	height: 40px;
	z-index: 10;
}
.footing {
	background-image: url('../images/dot.png');
	background-repeat: repeat;
	color: #f1f1f1;
	font-size: 0.8em;
	font-family: Arial;
	padding: 5px;
}
