/* 
    Document   : menus
    Created on : Dec 26, 2011, 10:21:59 PM
    Author     : danielcarter
    Description:
        Purpose of the stylesheet follows.
*/


/* Navigation */
#navigation {
    bottom: 10px;
    font-family: "Helvetica Neue", "Helvetica";
    left: auto;
    position: absolute;
    right: 0px;
    top: auto;
}

#navigation .section {
    padding: 0;
}

#navigation div.contextual-links-wrapper {
    right: -15px;
}

#block-system-main-menu ul{
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding:0;
}

#block-system-main-menu ul:after {
    clear:both;
    content: '.';
    display: block;
    height: 0px;
    visibility: hidden;
}

/* Main Menu */
#block-menu-block-2 ul li{
    display: block;
    float: left;
    margin-left: 20px;
}

#block-menu-block-2 ul li.first {
    margin-left: 0;
}

#block-menu-block-2 ul li a{
    color: #727272;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 0;
}

#block-menu-block-2 ul li a {
    text-transform: uppercase;
}

/* User Menu */
#block-system-user-menu .content ul.menu {
    list-style: none;
    list-style-image: none;
    margin: 0px;
    padding:0px;
}

#block-system-user-menu .content ul.menu li {
    list-style: none;
    list-style-image: none;
    float: left;
}

#block-system-user-menu .content ul.menu li a {

}

